<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dichvu.css">
    <title>My Store</title>
</head>
<body>
    <div id="header"></div>
    <script src="../scripts/linkHeader.js"></script>
    <div class="breadcrumb">
        <a href="#">Trang chủ</a> &gt; <a href="#">Danh mục</a> &gt; <span>Trang hiện tại</span>
    </div>
    <div class="services">
        <div class="service-container">
            <img src="https://huythanhjewelry.vn/storage/photos/shares/article/chuong_trinh_khach_hang_than_thiet-01-01_11b8ef9d1aae4566820061dbd9ca3cb4.webp" alt="">

        <p>
        - Gia hạn thời gian sử dụng điểm tích lũy: Thời gian sử dụng điểm tích lũy với hạng thẻ Thân thiết, Gold, Platinum: 15/06/2025
        <br>
        - Tài khoản được quản lý và cập nhật theo số điện thoại và thẻ cứng
        </p>

        <p>- Toàn bộ quá trình tích lũy điểm, đổi điểm, tặng voucher đều được thực hiện trên app "Huy Thanh". Khách hàng có thể tải app Huy Thanh thông qua AppStore hoặc CHPlay. Tiến hành đăng nhập app bằng số điện thoại đã phát sinh giao dịch mua sắm tại Huy Thanh Jewelry</p>

        <p>- Thành viên được xếp hạng dựa vào điểm tích lũy được quy đổi từ doanh thu đơn hàng khi mua sắm tại cửa hàng hoặc online</p>
      
        <p>- Tăng hạng thẻ: Tăng ngay khi đạt điểm tích lũy, hạng thẻ sẽ được duy trì hạng thẻ trong 365 ngày tiếp theo hoặc thăng hạng khi điểm tích lũy đạt đến mốc tiếp theo. Sau 365 ngày hạng thẻ thành viên sẽ thay đổi, hạng thẻ tiếp theo sẽ tương ứng với số điểm tích lũy trong 365 ngày đã qua.</p>
      
        <p>- Điểm tích lũy của khách hàng được tính dựa trên doanh thu tích lũy các đơn hàng (Doanh thu sau giảm giá). Điểm tích lũy được lấy theo phần số nguyên, không tính phần dư và không làm tròn.</p>
      
        <p>- Chương trình tích điểm không áp dụng với các đơn hàng phát sinh trên các sàn thương mại điện tử.</p>
      
        <p>- Ưu đãi sinh nhật của bạn được áp dụng trong tháng sinh nhật (Không áp dụng hàng đặt).</p>
      
        <p>- Không áp dụng các ưu đãi "Huy Thanh Membership" cùng các chương trình khuyến mãi khác (Trừ khi có thông báo khác)</p>
      
        <h3>VÍ DỤ VỀ THAY ĐỔI HẠNG THẺ THÀNH VIÊN:</h3>
        <p>Bạn mua lần đầu và được xếp hạng Thân Thiết vào ngày 25/5/2023. Ngày 25/7/2023, bạn mua thêm và đạt tổng điểm tích lũy 2.100.000 điểm, bạn đạt hạng Vàng. Ngày 18/8/2023 bạn đạt tổng điểm tích lũy 10.000.000, bạn đạt hạng thẻ Platinum. Hạng thẻ Platinum của bạn sẽ được duy trì trong 365 ngày tiếp theo, đến ngày 17/8/2024 nếu:</p>
      
        <p>- Tổng điểm tích lũy trong 365 ngày (Từ ngày 18/8/2023 - 17/8/2024) đạt từ 10.000.000 điểm trở lên: Duy trì hạng thẻ Platinum trong 365 ngày tiếp theo</p>
      
        <p>- Tổng điểm tích lũy trong 365 ngày (Từ ngày 18/8/2023 - 17/8/2024) đạt từ 2.000.000 - 9.999.999 điểm: Bạn đạt hạng thẻ Gold trong 365 ngày tiếp theo</p>
      
        <p>- Tổng điểm tích lũy trong 365 ngày (Từ ngày 18/8/2023 - 17/8/2024) đạt dưới 2.000.000 điểm: Bạn đạt hạng thẻ Thân thiết trong 365 ngày tiếp theo</p>
      
        <h3>VÍ DỤ VỀ ĐIỂM TÍCH LŨY:</h3>
        <p>Lúc 10h ngày 25/5/2023 bạn có mua sắm tại Huy Thanh Jewelry 01 hóa đơn mua hàng trị giá 5 triệu (hóa đơn bao gồm: 01 Lắc tay trị giá 3 triệu, 01 Bông tai trị giá 2 triệu). Đến 10h ngày 28/5/2023 (Sau 72h) hệ thống sẽ ghi nhận điểm tích lũy của bạn như sau:</p>
      
        <p>- Nếu bạn không phát sinh quá trình thu đổi trong vòng 72h kể từ khi thanh toán, hệ thống sẽ ghi nhận điểm tích lũy của bạn tăng 500.000 điểm (tương ứng với 10% giá trị đơn hàng)</p>
      
        <p>- Nếu bạn phát sinh thu đổi 100% trong vòng 72h, giả sử bạn đổi lắc tay trị giá 3 triệu sang 1 sản phẩm dây chuyền trị giá 4 triệu thì hệ thống sẽ trừ 300.000 điểm (tương ứng với 10% giá trị sản phẩm lắc tay trị giá 3 triệu) và cộng thêm 400.000 điểm (tương ứng với 10% giá trị sản phẩm dây chuyền trị giá 4 triệu). Như vậy, sau khi kết thúc quá trình thu đổi, điểm tích lũy của bạn sẽ được ghi nhận tăng thêm 600.000 điểm</p>
    
        <h1>
            <strong>FAQ - CÂU HỎI THƯỜNG GẶP</strong>
        </h1>
        
        <h3>1. Huy Thanh Membership là gì?</h3>
        <p>Huy Thanh Membership là chương trình Khách hàng Thân Thiết mới, mang đến những ưu đãi và những quyền lợi đặc biệt dành riêng cho khách hàng thân thiết của Huy Thanh Jewelry. Tài khoản thành viên được quản lý và cập nhật theo số điện thoại, thẻ cứng.</p>

        <h3>2. Làm sao để trở thành khách hàng thân thiết của Huy Thanh Jewelry?</h3>
        <p>Bạn sẽ trở thành Khách hàng thân thiết của Huy Thanh ngay khi mua sản phẩm bất kỳ đầu tiên và để lại thông tin đăng ký (Số điện thoại). Bạn có thể được yêu cầu cung cấp các thông tin khác (để nhận tất cả Ưu Đãi đủ điều kiện): Ngày sinh (ngày sinh chỉ được cập nhật một (1) lần duy nhất theo chứng minh nhân dân hoặc giấy tờ khác có xác minh ngày sinh), địa chỉ email, địa chỉ liên lạc.</p>

        <h3>3. Thời gian và cách thức xếp hạng thành viên?</h3>
        <p>Thành viên sẽ được thăng hạng ngay lập tức khi đạt điểm thăng hạng dựa trên tổng điểm tích lũy (Xem tại bảng 1.1).</p>

        <h3>4. Làm sao để được tích lũy chi tiêu?</h3>
        <p>Đầu tiên bạn phải phát sinh giao dịch tại Huy Thanh Jewelry, cung cấp số điện thoại cho nhân viên khi mua sắm tại cửa hàng, hoặc đặt online qua facebook chat, zalo chat và hotline 1900 633 428. Đối với trường hợp đổi/trả hàng, giá trị tích lũy sẽ tăng/giảm ngay lập tức theo giá trị mà bạn thanh toán.</p>

        <h3>5. Làm sao để sử dụng điểm tích lũy?</h3>
        <p>Để sử dụng điểm tích lũy, khách hàng tiến hành tải app "Huy Thanh" thông qua AppStore hoặc CHPlay. Tiến hành đăng nhập app bằng số điện thoại đã phát sinh giao dịch mua sắm tại Huy Thanh Jewelry. Sau khi đăng nhập thành công, khách hàng truy cập mục: "Đổi thưởng", tại đây Huy Thanh Jewelry đã cung cấp các mức voucher đổi điểm (theo bảng 1.1), khách hàng tiến hành đổi các voucher mong muốn và xuất trình mã voucher cho nhân viên bán hàng để được sử dụng voucher.</p>

        <h3>6. Quyền lợi của khách hàng thân thiết là gì?</h3>
        <p>Quyền lợi của khách hàng thân thiết tại Huy Thanh Jewelry được áp dụng theo Bảng 1.1.</p>

        <h3>7. Làm sao để nhận các ưu đãi?</h3>
        <p><strong>Bước 1:</strong> Bạn cần cung cấp số điện thoại và chứng minh nhân dân (hoặc giấy tờ có xác minh ngày sinh trong trường hợp áp dụng chương trình sinh nhật) cho nhân viên của hàng, hoặc gửi hình ảnh cho nhân viên tư vấn khi mua hàng online để cập nhật ngày sinh vào tài khoản (chỉ được cập nhật một (1) lần duy nhất).</p>

        <p><strong>Bước 2:</strong> Nhân viên tư vấn sẽ check thông tin trên hệ thống phần mềm theo thông tin SĐT hoặc thẻ khách hàng, chứng minh thư nhân dân (trong trường hợp sinh nhật).</p>

        </div>
    </div>
    <div id="footer"></div>
    <script src="../scripts/linkFooter.js"></script>
</body>
</html>