<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/giavanghn.css">
    <title>My Store</title>
</head>
<body>
    <div id="header"></div>
    <script src="../scripts/linkHeader.js"></script>
    
    <div class="container-banggiavang">
        <h2>BẢNG GIÁ VÀNG</h2>
        <div class="timestamp">Cập nhật vào lúc 14:16 ngày 11/04/2025</div>
        <div class="donvi">(Đơn vị: Đồng/chỉ)</div>
    
    <table>
        <thead>
            <tr>
              <th>Loại vàng</th>
              <th>Giá mua</th>
              <th>Giá bán</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Vàng Huy Thanh 24k</td>
              <td>10.090.000 ₫</td>
              <td>10.440.000 ₫</td>
            </tr>
            <tr>
              <td>Giá nguyên liệu 18K</td>
              <td>7.409.000 ₫</td>
              <td>7.830.000 ₫</td>
            </tr>
            <tr>
              <td>Giá nguyên liệu 14K</td>
              <td>5.779.000 ₫</td>
              <td>6.107.000 ₫</td>
            </tr>
            <tr>
              <td>Giá nguyên liệu 10K</td>
              <td>4.109.000 ₫</td>
              <td>4.343.000 ₫</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div id="footer"></div>
    <script src="../scripts/linkFooter.js"></script>
</body>
</html>