<header class="header">
    <div class="left">
        <span>📍</span>
        <input type="text" placeholder="Tìm kiếm">
    </div>
    <div class="logo">
        <h1>My Store</h1>
    </div>
    <div class="right">
        <div class="icon-circle" data-count="0">❤️</div>
        <div class="icon-circle" data-count="0">🛍️</div>
    </div>
</header>
    <nav>
        <ul class="menu">
            <li><a href="#">Về Chúng Tôi</a></li>
            <li class="has-submenu"><a href="#">Bộ sưu tập</a>
                <div class="submenu">
                    <div class="submenu-row">
                        <div>
                            <ul>
                                <li>Nhẫn cầu hôn 2025</li>
                                <li>Nhẫn cưới</li>
                                <li>Lucky you collection</li>
                                <li>The empress - Trang sức vàng 24K</li>
                                <li>Dây chuyền tỏ tình</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="has-submenu"><a href="#">Sản Phẩm</a>
                <div class="submenu">
                    <div class="submenu-column">
                        <h2>Trang sức</h2>
                        <ul>
                            <li>Bông Tai</li>
                            <li>Nhẫn Nữ</li>
                            <li>Mặt Dây Chuyền</li>
                            <li>Bộ Trang Sức</li>
                            <li>Dây Chuyền</li>
                            <li>Lắc Tay</li>
                            <li>Lắc Chân</li>
                            <li>Charm Vàng 14K</li>
                        </ul>
                    </div>

                    <div class="submenu-column">
                        <h2>Trang sức cô dâu</h2>
                        <ul>
                            <li>Bông tai cô dâu</li>
                            <li>Dây chuyền cô dâu</li>
                            <li>Bộ trang sức cô dâu</li>
                        </ul>
                    </div>

                    <div class="submenu-column">
                        <h2>Nhẫn Cưới</h2>
                        <ul>
                            <li>Nhẫn Cưới Dưới 7 Triệu</li>
                            <li>Nhẫn Cưới 7 Triệu - 10 Triệu</li>
                            <li>Nhẫn Cưới 10 Triệu - 15 Triệu</li>
                            <li>Nhẫn Cưới 15 Triệu - 20 Triệu</li>
                            <li>Nhẫn Cưới Từ 20 Triệu</li>
                        </ul>
                    </div>

                    <div class="submenu-column">
                        <h2>Nhẫn Cầu Hôn</h2>
                        <ul>
                            <li>Nhẫn Cầu Hôn Dưới 5 Triệu</li>
                            <li>Nhẫn Cầu Hôn 5 Triệu - 10 Triệu</li>
                            <li>Nhẫn Cầu Hôn 10 Triệu - 20 Triệu</li>
                            <li>Nhẫn Cầu Hôn Từ 20 Triệu</li>
                        </ul>
                    </div>

                    <div class="submenu-column">
                        <h2>Quà tặng</h2>
                        <ul>
                            <li>Quà Sinh Nhật</li>
                            <li>Quà Kỷ Niệm</li>
                            <li>Quà Cưới</li>
                        </ul>
                    </div>

                    <div class="submenu-column">
                        <h2>Vàng 24K</h2>
                        <ul>
                            <li>Vàng 24K</li>
                            <li>Vàng Miếng</li>
                            <li>Nhẫn 24K</li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="has-submenu"><a href="#">Tin Tức</a>
                <div class="submenu tintuc">
                    <div class="submenu-row">
                        <ul>
                            <li>Tin khuyến mãi</li>
                            <li>Blog trang sức</li>
                            <li>Tin tuyển dụng</li>
                        </ul>
                    </div>
                </div>
            </li>    

            <li class="has-submenu"><a href="#">Dịch Vụ</a>
                <div class="submenu dv">
                    <div class="submenu-row">
                        <ul>
                            <li>Chính sách khách hàng thân thiết</li>
                            <li>Chính sách thu đổi</li>
                            <li>Chính sách giao hàng</li>
                            <li>Chính sách bảo hành</li>
                            <li>Thiệp cưới online</li>
                        </ul>
                    </div>
                </div>
            </li>   

            <li><a href="#">Giá Vàng Hôm Nay</a></li>
        </ul>
    </nav>
        
